body{
    background-color: rgb(245, 245, 245);
    width: 95%;
    display: block;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;   
}
.div1{
    text-align: center;
    width: 100%; 
}
.div1 ul li h1{
    margin: 0 220px 0 0px;
}
.div1 ul{
    white-space: nowrap;
}
.div1 ul li {
    list-style-type: none;
    display: inline-block;
}
.div1 ul li a{
    padding: 20px;
    text-decoration: none;
    font-size:24px;
}
.div1 ul li button{
    background-color: rgb(21, 21, 241);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    margin: 0px 0px 0 220px;
}
.comb{
    display: flex; 
    width: 400px;
    text-align: center;
}
.comb i{
    color: rgb(21, 21, 241);
    margin: 10px;
    font-size: 20px;    
}
.row1{
    width: auto;
    margin: 20px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}
.col1{
    flex-basis:25%;
    padding: 10px;
}
.col1 h2{
font-size: 36px;
}
.col1 p{
font-size: 26px;
}
.col2 img{
    width: 550px;
    height: 350px;
}
.row2 {
display: flex;
justify-content: space-around;
text-align: center;
background-color: white;
width: 80%;
margin-left: 150px;
border-radius: 30px;
}
.row2 button{
width: 80px;
height: 40px;
}
.ourpro{
    text-align: center;
}
.ourpro h2{
text-align: left;
margin: 0px;
margin-left: 15px;
}
.ourpro h3{
    margin: 2px;
}
.ourpro p{
font-size: 20px;
margin: 0px;
}
.row3{
   display: flex;
   justify-content: space-evenly;
}
.col4{
    background-color: white;
    margin: 20px;
    padding: 5px;
    text-align: center;
    box-shadow: 20px; 
}

.col4 h2{
color: black;
text-align: center;
margin: 0px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.col4 p{
    text-align: center;
    padding: 20px;
    margin: 0px;
    color: rgb(68, 66, 66);
}
.col4 img{
    width: 103px;
    height: 103px;
}
.row4{
    display: flex;
    justify-content: space-between;
}
.col5{
    margin-left: 20px;
}
.col5 img{
width: 420px;
height: 300px;
}
.col6{
    margin-top: 40px;
    margin-right: 20px;
}
.col6 h2{
font-size: 30px;
}
.col6 p{
    font-size: 26px;
    }
.c6{
display: flex;
justify-content: space-between;

}
.diva{
    text-align: left;
    float: left;
    padding: 0px;
}
h2{
    color: rgb(21, 21, 241);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
}
.imgA img{
    width: 200px;
    height: 350px;
    float: right;
}
.diva button{
    background-color: rgb(6, 6, 56);
    border-radius: 5px;
    color: white;
    padding: 10px;
    margin: 0px;
}   
button{
    background-color: rgb(21, 21, 241);
    color: white;
    padding: 10px;
    border-radius: 12px;
    border: none;
}
.row{
    background-color: blue;
}
h3{
    color: blue;
    font-size: 30px;
}
.col14{
    text-align: center;
    width: 100%;
}
.col14 p{
font-weight: lighter;
font-size: 20px;
}
.a img{
    width: 295px;
    height: 170px;
}
.col14a{
    display: flex;
    padding: 20px;
    width: 100%;
    justify-content: space-between;
}
.col15a{
    display: flex;
    justify-content: space-around;
}
.col15a div p{
    color: lightgray;
}
.col15a div p b{
    color: blue;
}
.row23{
    background-color: white;
    border-top-right-radius: 86px;
    border-bottom-left-radius: 20px;
    height: 275px;
    width: 295px;
    shape-outside: margin-box;
}
.col7 img{
    width: 500px;
    height: 300px;
}
.row6{
    width: auto;
    height: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around; 
}
.last{
font-size: 36px;
text-align: center;
}
.last1{
    text-align: center;
    font-size: 28px;
}
.row6 p{
    font-size: 30px;
    margin: 1px;
    }
.col8{
    flex-basis:25%;
    padding: 8px; 
    border-radius: 20px; 
    margin: 10px;
    background-color: rgb(255, 255, 255);
}
.col8 h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}
.col4 h4{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.col8 p{
    font-size: 20px;
    font-style: normal;
    color: rgb(83, 77, 77);
}
.clever{
justify-content: space-between;  
width: auto;  
}
.row00{
    display: flex;
    background-color: blue;
    align-content: space-around;
    height: 250px;
    padding: 0px 50px 0px 50px;
}
.col00{
    color: white;
    text-align: left;
}
.col00 h3{
color: white;
}
.col00 ul{
    list-style-type: none;
    margin: 40px;
}